PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

DATABASE_URL=
REDIS_URL=
REDIS_HOST=
REDIS_PORT=

WORKER_CONCURRENCY=5

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

JWT_SECRET=
JWT_EXPIRES_IN=7d

SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=ReachInbox <noreply@reachinbox.ai>

SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_REDIRECT_URI=
SLACK_SCOPES=chat:write,incoming-webhook,channels:read

MITRAJIT_EMAIL=
MITRAJIT_PASSWORD=
YADAV036_EMAIL=
YADAV036_PASSWORD=
